name: Go CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' # Using the latest stable version

      - name: Install dependencies
        run: go mod download

      - name: Verify dependencies
        run: go mod tidy

      - name: Run Gofmt
        run: |
          if [ -n "$(gofmt -l .)" ]; then
            echo "The following files are not formatted:"
            gofmt -l .
            exit 1
          fi

      - name: Run Govet
        run: go vet ./...

      - name: Run Tests
        run: go test -v ./...

      - name: Build
        run: go build -v ./...
